body {
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    background: white;
  }

  div:first-child {
    margin-top: 0px;
  }

  div {
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    padding: 1px 3px;
    font-family: sans-serif;
    font-size: 1.2em;
    width: 200px;
    height: 60px;
    margin-top: 1px;
    background: #cccccc;
  }
  div:hover {
    background: #aaaaaa;
  }
  #Summery {
    border: 1px solid red;
    color: red;
  }
  #History {
    border: 1px solid blue;
    color: blue;
  }
  #Bookmark {
    border: 1px solid green;
    color: green;
  }